
@{
    ViewBag.Title = "Home";
}

<h2>Home</h2><br/>

             <div>
                 <a href="/">Home</a>
                 <a href="/Home/Profile">Profile</a>
                 <a href="/Home/Education">Education</a>
                 <a href="/Home/Projects">Projects</a>
                 <a href="/Home/Reference">Reference</a>
             </div>

<h3>Name: @ViewBag.Name</h3>
<h3>Email: @ViewBag.Email</h3>
<h3>Bio: @ViewBag.Bio</h3>