
@{
    ViewBag.Title = "Reference";
}

<div>
    <a href="/">Home</a>
    <a href="/Home/Profile">Profile</a>
    <a href="/Home/Education">Education</a>
    <a href="/Home/Projects">Projects</a>
    <a href="/Home/Reference">Reference</a>
</div>


<h2>Name: @TempData["Name"]</h2>

<h2>Institute: @TempData["Institute"]</h2>

