
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <a href="/">Home</a>
    <a href="/Home/Profile">Profile</a>
    <a href="/Home/Education">Education</a>
    <a href="/Home/Projects">Projects</a>
    <a href="/Home/Reference">Reference</a>
</div>